$white: #fff;
$black: #000;
$background: #f2f2f2;
$primary: #880e4f;
$primaryDark: #880e4f;
$primaryDark: #bc477b;

* {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
  box-sizing: border-box; // deixa o tamanho no mesmo que eu setar, não aumentando a div
}

body {
  background-color: $background;
}

.login {
  .header {
    background-color: $primary;
    height: 200px;
  }
  .form {
    background-color: $background;
  }
  .footer {
    background-color: $primary;
    height: 200px;
  }
}
