$white: #FFF;
$black: #000;
$background: #F2F2F2;
$primary: #880e4f;
$primaryDark: #880e4f;
$primaryDark: #BC477B;


* {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
    box-sizing: border-box; // deixa o tamanho no mesmo que eu setar, não aumentando a div
}


body {
    background-color: $background;
}

.login {
    .header {

    }
    .form {

    }
    .footer {

    }
}